.main-container {
  background-color: #ffffff;
  margin: 25px;
  padding: 20px;
  box-shadow: 15px 15px #ebf6f5;
}

.title {
  margin-bottom: 35px;
  color: #5cbdb9;
}

.start-style:hover {
  cursor: pointer;
}
